:root {
	--marine-blue: hsl(213, 96%, 18%);
	--purplish-blue: hsl(243, 100%, 62%);
	--pastel-blue: hsl(228, 100%, 84%);
	--light-blue: hsl(206, 94%, 87%);
	--strawberry-red: hsl(354, 84%, 57%);
	--cool-gray: hsl(231, 11%, 63%);
	--light-gray: hsl(229, 24%, 87%);
	--magnolia: hsl(217, 100%, 97%);
	--alabaster: hsl(231, 100%, 99%);
	--font-light: 400;
	--font-medium: 500;
	--font-bold: 700;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	font-family: "Ubuntu-Regular";

	/* font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}
@font-face {
	font-family: "Ubuntu-Bold";
	src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Ubuntu-Medium";
	src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Ubuntu-Regular";
	src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
